<footer class="flex justify-around pt-36 bg-[#E8F1FF] mt-28">
    <section>
        <section>
            <img src="{{ asset('images/logo.png') }}" alt="">
        </section>
        <section>
            <p class="my-7">Suivez nous sur les réseaux sociaux</p>
        </section>
        <section>
            <ul  class="flex justify-start gap-x-8 items-center">
                <li>
                    <a href="https://www.facebook.com/"><img src="{{ asset('images/socialNetwork/facebook.png') }}" alt="Facebook"></a>
                </li>
                <li>
                    <a href="https://x.com/"><img src="{{ asset('images/socialNetwork/twitter.png') }}" alt="Twitter"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/"><img src="{{ asset('images/socialNetwork/instagram.png') }}" alt="Instagram"></a>
                </li>
                <li>
                    <a href="https://fr.linkedin.com/"><img src="{{ asset('images/socialNetwork/linkedin.png') }}" alt="Linkedin"></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/"><img src="{{ asset('images/socialNetwork/youtube.png') }}" alt="Youtube"></a>
                </li>
            </ul>
        </section>
    </section>
    <section>
        <h3 class="font-bold text-xl mb-12 text-[#1678F2]">Produit</h3>
        <nav>
            <ul>
                <li class="mb-6"><a href="{{ path('product_features') }}">Fonctionnement</a></li>
                <li class="mb-6"><a href="{{ path('product_prices') }}">Prix</a></li>
                <li class="mb-6"><a href="{{ path('product_case_studies') }}">Exemple de cas</a></li>
                <li class="mb-6"><a href="{{ path('product_our_experts') }}">Nos experts</a></li>
                <li class="mb-6"><a href="{{ path('product_updates') }}">Updates</a></li>
            </ul>
        </nav>
    </section>
    <section>
        <h3 class="font-bold text-xl mb-12 text-[#1678F2]">Entreprise</h3>
        <nav>
            <ul>
                <li class="mb-6"><a href="{{ path('company_abouts') }}">A propos</a></li>
                <li class="mb-6"><a href="{{ path('company_contacts') }}">Contacter nous</a></li>
                <li class="mb-6"><a href="{{ path('company_careers') }}">Carrières</a></li>
                <li class="mb-6"><a href="{{ path('company_cultures') }}">Culture d'entreprise</a></li>
                <li><a href="{{ path('company_blogs') }}">Blog</a></li>
            </ul>
        </nav>
    </section>
    <section>
        <h3 class="font-bold text-xl mb-12 text-[#1678F2]">Support</h3>
        <nav>
            <ul>
                <li class="mb-6"><a href="{{ path('support_getting_started') }}">Mode d'emploi</a></li>
                <li class="mb-6"><a href="{{ path('support_help_centers') }}">Centre d'aide</a></li>
                <li class="mb-6"><a href="{{ path('support_servers_status') }}">Etat des serveurs</a></li>
                <li class="mb-6"><a href="{{ path('support_report_bugs') }}">Remonter un bug</a></li>
                <li><a href="{{ path('support_chat_supports') }}">Chat d'aide</a></li>
            </ul>
        </nav>
    </section>
    <section>
        <h3 class="font-bold text-xl mb-12 text-[#1678F2]">Contactez-nous</h3>
        <nav>
            <ul>
                <li class="mb-6"><a href="mailto:campus28@cci.com">campus28@cci.com</a></li>
                <li class="mb-6"><a href="tel:+33237842828">02 37 84 28 28</a></li>
                <li class="mb-3"><a href="https://www.google.com/maps/search/?api=1&query=5bis+Av.+Marcel+Proust,+28000+Chartres" target="_blank">5 bis Avenue Marcel Proust</a></li>
                <li><iframe class="w-52 h-52" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5292.414294389472!2d1.5280421!3d48.452554899999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e40ded0939f919%3A0xf4872f8500c18e47!2sChambre%20de%20Commerce%20et%20d&#39;Industrie%20d&#39;Eure%20et%20Loir%20CCI!5e0!3m2!1sfr!2sfr!4v1728463144950!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></li>
            </ul>
        </nav>
    </section>
</footer>