{# templates/partials/header.html.twig #}
<header>
    <section>
        <img src="{{ asset('images/logo.png') }}" alt="Bienvenue sur IRM Assist">
    </section>
    <nav>
        <ul>
            <li><a href="{{ path('product_features') }}">Fonctionnement</a></li>
            <li><a href="{{ path('product_analyst') }}">Analyse</a></li>
            <li><a href="{{ path('company_contacts') }}">Nous contacter</a></li>
            <li><a href="{{ path('product_our_experts') }}">Nos experts</a></li>
        </ul>
    </nav>
    <section>
        <a href="">Se connecter</a>
    </section>
</header>